{% load static %}
<footer class="footer">
    <ul class="navbar justify-content-center d-flex">
        <li class="nav-item"><a href="https://www.instagram.com/guirfsantos/" target='_blank' class="nav-link icon-link">
            <span class="sr-only"></span>
            <i class="fa-brands fa-instagram"></i>
        </a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/guilherme-fernandes-dos-santos/" target='_blank' class="nav-link icon-link">
            <i class="fa-brands fa-linkedin"></i><span class="sr-only"></span>       
        </a></li>
        <li class="nav-item"><a href="https://github.com/GuilhermeSantos2405" target='_blank' class="nav-link icon-link">
            <i class="fa-brands fa-github"></i><span class="sr-only"></span>       
        </a></li>
    </ul>
    <ul class="justify-content-center d-flex p-1">
        <li> &copy; Desenvolvedor Back end </li>
    </ul>
    
    <ul class="justify-content-center d-flex p-1">
        <li> Guilherme dos Santos </li>
    </ul>
</footer>

