{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="sideNav">
    {% if request.user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'authors_recipes' %}">
            <span class="d-none d-lg-block my-1">
                <h3>Seja bem vindo</h3>
            </span>
        </a>
        <div class=''>{{user|upper}}</div>
    {% else %}
        <div>Você não está logado</div>
    {% endif %} 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Abrir ou fechar menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse my-4" id="mainNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'salty' %}">Receitas salgadas</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'dessert' %}">Receitas doces</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'drinks' %}">Bebidas</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'create_author' %}">Cadastre-se</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'login' %}">Entrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'logout' %}">Sair</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#ModalContato" >Contato</a>
            </li>
        </ul>

        {% include 'partials/footer.html' %}
</div>
</nav>

 <!-- Modal contato -->
 <div class="modal fade" id="ModalContato" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Contato</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p> <b>Nome:</b> Guilherme dos Santos</p>
                <p> <b>Email:</b> guilherme_108@hotmail.com</p>
                <p> <b>Telefone:</b> (11) 9 9767-4757</p>
            </div>
        </div>
    </div>
</div>